{% extends 'layout/basic.html' %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<h2>Последние 20 добавленных товаров</h2>
{% if products %}
<ul class="list-unstyled">
    {% for product in products %}
    <li class="media my-5 p-3 border">
        {% url 'main:detail' category_pk=category.pk pk=product.pk as url %}
        <a href="{{ url }}{{ all }}">
            {% if product.image %}
            <img class="mr-3" src="{% thumbnail product.image 'default' %}">
            {% else %}
            <img class="mr-3" src="{% static 'main/empty.jpg' %}">
            {% endif %}
        </a>
        <div class="media-body">
            <h3><a href="{{ url }}{{ all }}">{{ product.title }}</a></h3>
            <div>{{ product.content }}</div>
            <p class="text-right font-weight-bold">Цена: {{ product.price }} руб.</p>
            <p class="text-right font-italic">Добавлено: {{ product.created_at }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endif %}
{% endblock %}
